[submodule "source/li_can_slv"]
	path = source/li_can_slv
	url = git@github.com:liebherrnenzing/li_can_slv.git
	branch = master
[submodule "source/canpie"]
	path = source/canpie
	url = git@github.com:canpie/CANpie.git
	branch = master
[submodule "source/canpie-fd_device"]
	path = source/canpie-fd_device
	url = git@github.com:liebherrnenzing/canpie-fd_device.git
	branch = dev
